/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
     .box{
        @apply shadow shadow-md rounded-md p-2 shadow-gray-300
    }
    
}
